{% extends 'base.html.twig' %}
{% from _self import render_prototype %}
{% from _self import repository_form %}

{% block body %}
    <div class="page-header"><h2>Edit configuration</h2></div>
    <form method="POST" action="{{ path('config_update') }}" class="form form-horizontal" id="config-form">
        {{ form_row(form.name) }}
        {{ form_row(form.homepage) }}
        {{ form_row(form.requireAll, { label: 'Require all' }) }}

        <fieldset class="repositories">
            <legend>Repositories</legend>
            {% for repository in form.repositories %}
                {{ repository_form(repository) }}
            {% endfor %}
            <div data-behavior="new-repositories"></div>
            <div class="row">
                <div class="span4 offset8">
                    <a class="btn btn-success" data-behavior="add-repository" data-prototype="{{ render_prototype(form) }}">
                        <i class="icon icon-plus icon-white"></i> Add repository
                    </a>
                </div>
            </div>
        </fieldset>

        {{ form_rest(form) }}

        <div class="form-actions">
            <a class="btn" href="{{ path('config_index') }}"><i class="icon-remove"></i> Cancel</a>
            <button type="submit" class="btn btn-primary"><i class="icon icon-edit icon-white"></i> Save</button>
        </div>
    </form>
{% endblock %}

{% macro repository_form(form) %}
    <fieldset class="repository" data-behavior="repository">
        <div class="row">
            <div class="span2">
                <a class="btn btn-danger remove" data-behavior="remove-repository">
                    <i class="icon icon-white icon-trash"></i> Remove
                </a>
            </div>
            <div class="span10">
                {{ form_row(
                    form.type, { attr: {
                        'data-behavior': 'repository-type',
                        'data-route'   : path('retrieve_repository_form_fragment', { type: '__type__', 'index': '__index__' })
                    }}
                ) }}
                <div data-behavior="dynamic-fields">{{ form_rest(form.data) }}</div>
            </div>
        </div>
        <hr />
    </fieldset>
{% endmacro %}

{% macro render_prototype(form) %}
    {{ _self.repository_form(form.repositories.vars.prototype) | e }}
{% endmacro %}
