{% extends 'base.html.twig' %}
{% from _self import render_prototype %}
{% from _self import repository_form %}

{% block body %}
    <h2>Edit configuration</h2>
    <form method="POST" action="{{ path('config_update') }}" class="form form-horizontal" id="config-form">
        {{ form_row(form.name) }}
        {{ form_row(form.homepage) }}

        <fieldset class="repositories">
            <legend>Repositories</legend>
            {% for repository in form.repositories %}
                {{ repository_form(repository) }}
            {% endfor %}
            <div data-behavior="new-repositories"></div>
            <div class="row">
                <div class="span4 offset8">
                    <a class="btn btn-success" data-behavior="add-repository" data-prototype="{{ render_prototype(form) }}">
                        <i class="icon icon-plus icon-white"></i>
                        <span class="hide">Add repository</span>
                    </a>
                </div>
            </div>
        </fieldset>

        {{ form_rest(form) }}

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
{% endblock %}

{% macro repository_form(form) %}
    <div class="repository row" data-behavior="repository">
        <div class="span4">
            {{ form_row(form.type) }}
        </div>
        <div class="span4">
            {{ form_row(form.url) }}
        </div>
        <div class="span4">
            <a class="btn btn-danger remove" data-behavior="remove-repository">
                <i class="icon icon-white icon-trash"></i>
                <span class="hide">Remove repository</span>
            </a>
        </div>
    </div>
{% endmacro %}

{% macro render_prototype(form) %}
    {{ _self.repository_form(form.repositories.vars.prototype) | e }}
{% endmacro %}
