{% extends 'base.html.twig' %}

{% block body %}
    <h2 id="homepage-heading">
        {{ config.name }}
        <a class="btn" href="{{ path('config_edit') }}"><i class="icon icon-edit"></i> Edit configuration</a>
        <a class="btn btn-warning" href="{{ path('config_build') }}" data-behavior="build-button">
            <i class="icon icon-share icon-white"></i> Build
        </a>
    </h2>
    <h3>Repositories</h3>
    <table class="repositories table table-bordered">
        <thead>
            <tr>
                <th>Type</th>
                <th>Params</th>
            </tr>
        </thead>
        <tbody>
            {% for repository in config.repositories %}
                <tr class="repository">
                    <td>{{ repository.type }}</td>
                    <td>
                        {% for key, param in repository.params %}
                            <dl>
                                <dt>{{ key }}</dt>
                                <dd><pre>{{ param }}</pre></dd>
                            </dl>
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
